.insurance-policy.order form{display:contents}
.order .short-ins-mobile .products__head.hidden{
    display: block;
    float: left;
}
.order .short-ins-mobile .products__name{
    display: block!important;
    overflow: hidden!important;
}
.error_message {
    display: none
}
.form input.error[type=text]{border: 1px solid #ff5252;}
.error_message,.error {
    color: #ff5252;
}

.error::-webkit-input-placeholder { /* WebKit browsers */
    color: #ff5252;
}

.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ff5252;
}

.error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ff5252;
}

.error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ff5252;
}

.form__section__content.address-installment .address-installment-other{
    display: none;
}

.form input.form_date {
    background-image: url("/local/templates/v_new_template/img/installment/calendar.svg");
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 179px;
}

.radio-disabled{opacity: 0.5}

/*
.order .short-ins-mobile.js-show .short-ins__item{ margin: 0px!important;}*/
.fix.js-show .short-ins__item.products__item{ height: 1005px!important; overflow: hidden; }
.order .short-ins-mobile.fix.js-show{ height: 100%;  padding: 15px 0;}
.order .short-ins-mobile.fix.js-show{padding-bottom: 9px;}
.order .short-ins-mobile .short-ins__item .ready-pack__details > div{
    margin-bottom: 16px!important;
    position: initial;
    border-bottom: 1px solid #dde8ff!important;
}
.order .short-ins-mobile:not(.js-show) .short-ins__item {
    height: 135px;
}
.order .short-ins-mobile.fix .show-details > span {
    display: block!important;
}
.ready-pack__details{
    clear: both;
}
.order .short-ins-mobile .price{display: block!important;}