.sms_code,.auth-login{ position: relative;}
.js-in-modal{cursor:pointer}
.auth-form .popup__form-title, .auth-login{
    margin-bottom: 8px;
}
.auth-form .popup__form-title{
    margin-bottom: 16px;
}
.pass-wrapper .info-popup{
    left: 4px!important;
    width: 18px;
}
.unknown ::placeholder{color: #ff5252}
.js-forgot-pwd{display: flex}

.popup__form.js-forgot-pwd,.popup__form.js-change-pwd{
    display: grid;
    gap: 16px;
}

@media screen and (max-width: 767px){
    .popup__form.js-forgot-pwd,.popup__form.js-change-pwd {
        display: flex;
    }
}

.popup input{z-index:1}
.popup .info-popup{z-index:2}

.info-popup__sign svg{cursor:pointer}

.popup .hide{display:none}